extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/new")
    span post message 

  ul
    each msg in messages
      li(style="list-style-type: none")
        span #{msg.user} - #{msg.date_formatted} - 
        a(href=msg._id + '/delete') x
        p #{msg.text}
        p #{msg._id}
        br
        br
